[submodule "types"]
	path = types
	url = https://github.com/rnwst/pandoc-lua-types
[submodule "logging"]
	path = logging
	url = https://github.com/pandoc-ext/logging.git
[submodule "luacheck"]
	path = luacheck
	url = https://github.com/rnwst/pandoc-luacheckrc
